{{> navbar}}

{{> header}}

<main>
    <div class="container">
        <h1>Shopping Cart</h1>

        {{#if user.shoppingCart}}
        <!-- Total on the Top -->
        <div class="row">
            <label for="staticTotalTop" class="col-sm-2 col-form-label">Total: </label>
            <div class="col-sm-10">
                <input type="text" readonly disabled class="form-control-plaintext" id="staticTotalTop" value="{{formatPrice (getTotal user.shoppingCart)}}">
            </div>
        </div>

        <!-- Mostrar los items si el Shopping Cart tiene items -->
        <div class="mt-2">
            <h2>Items</h2>
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">Qty</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each user.shoppingCart}}
                    <tr>
                        <td>{{this.qty}}</td>
                        <td>{{getTitle this._id}}</td>
                        <td>{{formatPrice (getPrice this._id)}}</td>
                        <td>{{formatPrice (getTotal_ofCartItem this._id this.qty)}}</td>
                        <td>
                            <div class="dropdown">
                                <button href="#" class="btn btn-outline-danger dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    Remove
                                </button>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><button href="#" class="dropdown-item" onclick="deleteOne_clicked({{this._id}})">Delete one</button></li>
                                    <li><button href="#" class="dropdown-item" onclick="deleteAll_clicked({{this._id}})">Delete all</button></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <div class="mt-2 row">
                <label for="staticSubtotal" class="col-sm-2 col-form-label">Subtotal: </label>
                <div class="col-sm-10">
                    <input type="text" readonly disabled class="form-control-plaintext" id="staticSubtotal" value="{{formatPrice (getSubtotal user.shoppingCart)}}">
                </div>

                <label for="staticTax" class="col-sm-2 col-form-label">Tax: </label>
                <div class="col-sm-10">
                    <input type="text" readonly disabled class="form-control-plaintext" id="staticTax" value="{{formatPrice (getTotalTax user.shoppingCart)}}">
                </div>

                <label for="staticTotalBottom" class="col-sm-2 col-form-label">Total: </label>
                <div class="col-sm-10">
                    <input type="text" readonly disabled class="form-control-plaintext" id="staticTotalBottom" value="{{formatPrice (getTotal user.shoppingCart)}}">
                </div>
            </div>
            
            <!-- Purchase button -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="mt-2 btn btn-primary" role="button" onclick="navigateTo(event, '/purchase')">Purchase</button>
            </div>
        </div>

        {{else}}
        <div class="mt-5">
            <h2>No product items in the shopping cart yet</h2>
        </div>
        {{/if}}
    </div>
</main>

{{> footer}}

<script>
    function deleteOne_clicked (productId) {
        Model.deleteOne(productId);

        // Render para refrescar los datos
        route()
    }

    function deleteAll_clicked (productId) {
        Model.deleteItem(productId);

        // Render para refrescar los datos
        route()
    } 
</script>