{{> navbar}}

{{> header}}

<main>
    <div class="container">
        <div class="row gy-4">
            <!-- Cards -->
            {{#each products}}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card text-dark bg-light">
                    <img src="{{this.url}}" class="card-img-top" alt="{{this.title}} game cover">
                    <div class="card-header">
                        <h3 class="card-title">{{this.title}}</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{this.description}}</p>

                        <a href="cart.html" class="btn btn-primary card-button" role="button">Buy</a>
                        <span class="card-price">{{formatPrice this.price}}</span>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</main>

{{> footer}}