{{> navbar}}

{{> header}}

{{> messages}}

<main>
    <div class="container">
        <!-- Profile data -->
        <div class="row">
            <h2>Order {{order.number}}</h2>

            <label for="staticDate" class="col-sm-2 col-form-label">Date: </label>
            <div class="col-sm-10">
                <input type="text" readonly disabled class="form-control-plaintext" id="staticDate" value="{{formatDate order.date}}">
            </div>

            <label for="staticAddress" class="col-sm-2 col-form-label">Address: </label>
            <div class="col-sm-10">
                <input type="text" readonly disabled class="form-control-plaintext" id="staticAddress" value="{{order.address}}">
            </div>

            <label for="staticCardNumber" class="col-sm-2 col-form-label">Card number: </label>
            <div class="col-sm-10">
                <input type="text" readonly disabled class="form-control-plaintext" id="staticCardNumber" value="{{order.cardNumber}}">
            </div>

            <label for="staticCardHolder" class="col-sm-2 col-form-label">Card holder: </label>
            <div class="col-sm-10">
                <input type="text" readonly disabled class="form-control-plaintext" id="staticCardHolder" value="{{order.cardOwner}}">
            </div>
        </div>

        <!-- Table of Orders -->
        <div class="mt-2">
            <h2>Products</h2>
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">Qty</th>
                        <th scope="col">Product</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each order.orderItems}}
                    <tr>
                        <td>{{this.qty}}</td>
                        <td>{{getTitle this.product}}</td>
                        <td>{{formatPrice (getTotal_ofOrderItem this.qty this.price this.tax)}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <div class="mt-4 row">
                <label for="staticSubtotal" class="col-sm-2 col-form-label">Subtotal: </label>
                <div class="col-sm-10">
                    <input type="text" readonly disabled class="form-control-plaintext" id="staticSubtotal" value="{{formatPrice (getSubtotal_ofOrder order.orderItems)}}">
                </div>

                <label for="staticTax" class="col-sm-2 col-form-label">Tax: </label>
                <div class="col-sm-10">
                    <input type="text" readonly disabled class="form-control-plaintext" id="staticTax" value="{{formatPrice (getTax_ofOrder order.orderItems)}}">
                </div>

                <label for="staticTotal" class="col-sm-2 col-form-label">Total: </label>
                <div class="col-sm-10">
                    <input type="text" readonly disabled class="form-control-plaintext" id="staticTotal" value="{{formatPrice (getTotal_ofOrder order.orderItems)}}">
                </div>
            </div>
        </div>
    </div>
</main>

{{> footer}}