{{> navbar}}

{{> header}}

<main>
    <div class="container">
        <!-- Profile data -->
        <div class="mb-5 row">
            <h2>Profile</h2>

            <label for="staticName" class="col-sm-2 col-form-label">Name: </label>
            <div class="col-sm-10">
                <input type="text" readonly disabled class="form-control-plaintext" id="staticName" value="{{user.name}}">
            </div>

            <label for="staticSurname" class="col-sm-2 col-form-label">Surname: </label>
            <div class="col-sm-10">
                <input type="text" readonly disabled class="form-control-plaintext" id="staticSurname" value="{{user.surname}}">
            </div>

            <label for="staticBirth" class="col-sm-2 col-form-label">Birth: </label>
            <div class="col-sm-10">
                <input type="text" readonly disabled class="form-control-plaintext" id="staticBirth" value="{{formatDate user.birth}}">
            </div>

            <label for="staticAddress" class="col-sm-2 col-form-label">Address: </label>
            <div class="col-sm-10">
                <input type="text" readonly disabled class="form-control-plaintext" id="staticAddress" value="{{user.address}}">
            </div>

            <label for="staticEmail" class="col-sm-2 col-form-label">Email: </label>
            <div class="col-sm-10">
                <input type="text" readonly disabled class="form-control-plaintext" id="staticEmail" value="{{user.email}}">
            </div>
        </div>

        <hr class="dropdown-divider">

        <!-- Table of Orders -->
        <div class="mt-5">
            {{#if user.orders}}
            <h2>Order list</h2>
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Number</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Date</td>
                        <td>Order Number</td>
                        <td>Total</td>
                        <td>
                            <button class="btn btn-primary" role="button" onclick="navigateTo(event, '/order')">Details</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>Order Number</td>
                        <td>Total</td>
                        <td>
                            <button class="btn btn-primary" role="button" onclick="navigateTo(event, '/order')">Details</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>Order Number</td>
                        <td>Total</td>
                        <td>
                            <button class="btn btn-primary" role="button" onclick="navigateTo(event, '/order')">Details</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            {{else}}
            <h2>No orders yet</h2>
            {{/if}}
        </div>
    </div>
</main>

{{> footer}}