{{> navbar}}

{{> header}}

{{> messages}}

<main>
    <div class="container">
        <h1>Purchase</h1>

        {{#if cartItems}}
        <!-- Personal Data -->
        <form id="purchase-form" class="col-10 col-md-6 col-lg-4 col-xl-3 needs-validation" novalidate>
            <h2>Data requested for Purchase</h2>
            <div>
                <label for="date" hidden></label>
                <input type="text" class="form-control" name="date" value="{{todayDate}}" required disabled>
                <div class="invalid-feedback">Please, provide a Purchase date</div>
            </div>

            <div>
                <label for="address" hidden></label>
                <input id="address" type="text" class="form-control" name="address" placeholder="Address" required>
                <div class="invalid-feedback">Please, provide an Address</div>
            </div>

            <div>
                <label for="cardNumber" hidden></label>
                <input id="cardNumber" type="text" class="form-control" name="cardNumber" placeholder="Card Number" required>
                <div class="invalid-feedback">Please, provide a Card Number</div>
            </div>
            
            <div>
                <label for="cardOwner" hidden></label>
                <input id="cardOwner" type="text" class="form-control" name="cardOwner" placeholder="Card Owner" required>
                <div class="invalid-feedback">Please, provide the Name of the Card Owner</div>
            </div>
        </form>

        <!-- Items to purchase -->
        <div class="mt-5">
            <h2>Items</h2>
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">Qty</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cartItems}}
                    <tr>
                        <td>{{this.qty}}</td>
                        <td>{{getTitle this.product}}</td>
                        <td>{{formatPrice (getTotal_ofCartItem this.product this.qty)}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <div class="mt-4 row">
                <label for="staticSubtotal" class="col-sm-2 col-form-label">Subtotal: </label>
                <div class="col-sm-10">
                    <input type="text" readonly disabled class="form-control-plaintext" id="staticSubtotal" value="{{formatPrice (getSubtotal cartItems)}}">
                </div>

                <label for="staticTax" class="col-sm-2 col-form-label">Tax: </label>
                <div class="col-sm-10">
                    <input type="text" readonly disabled class="form-control-plaintext" id="staticTax" value="{{formatPrice (getTotalTax cartItems)}}">
                </div>

                <label for="staticTotal" class="col-sm-2 col-form-label">Total: </label>
                <div class="col-sm-10">
                    <input type="text" readonly disabled class="form-control-plaintext" id="staticTotal" value="{{formatPrice (getTotal cartItems)}}">
                </div>
            </div>
            
            <!-- Purchase button -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="mt-2 btn btn-primary" role="button" onclick="purchase_clicked(event)">Checkout</button>
            </div>
        </div>

        {{else}}
        <div class="mt-5">
            <h2>No items in shopping cart</h2>
        </div>
        {{/if}}
    </div>
</main>

{{> footer}}

<script>
    function purchase_clicked (event) {
        event.preventDefault();
        var form = document.getElementById('purchase-form');

        // El formulario no es válido
        if (!form.checkValidity()) {
            form.classList.add('was-validated');
            return false;
        }

        // datos del formulario
        let purchaseDate = new Date();
        let purchaseAddress = $('#address').val();
        let purchaseCardNumber = $('#cardNumber').val();
        let purchaseCardOwner = $('#cardOwner').val();

        // Objeto purchaseForm
        let purchaseForm = {
            date: purchaseDate,
            address: purchaseAddress,
            cardNumber: purchaseCardNumber,
            cardOwner: purchaseCardOwner
        }

        // Recogemos los ID de los items del shoppingCart
        /*let cartItems = [];
        Model.getCart().done(function (cart) {
            cartItems = cart;
        }).fail(function () {
            console.error('Cannot retrieve cart');
        });
        
        let listOfIdItems = []
        for (item of cartItems) {
            listOfIdItems.push(item._id);
        }*/
        
        // Generamos un número para el order
        let purchaseNumber = new Date().getTime();

        // Realizamos la compra
        Model.purchase(purchaseForm, purchaseNumber).done(function () {
            Messages.success.push('Purchase done successfully!')
            // Volvemos a la página principal
            navigateTo(event, `/order/id/${purchaseNumber}`)
        });
        
    }
</script>