{{> navbar}}

{{> header}}

<main>
    <div class="container">
        <h1>Purchase</h1>

        {{#if user.shoppingCart}}
        <!-- Personal Data -->
        <form id="purchase-form" class="col-10 col-md-6 col-lg-4 col-xl-3 needs-validation" novalidate>
            <h2>Data requested for Purchase</h2>
            <div>
                <label for="date" hidden></label>
                <input type="text" class="form-control" name="date" value="{{todayDate}}" required disabled>
                <div class="invalid-feedback">Please, provide a Purchase date</div>
            </div>

            <div>
                <label for="address" hidden></label>
                <input type="text" class="form-control" name="address" placeholder="Address" required>
                <div class="invalid-feedback">Please, provide an Address</div>
            </div>

            <div>
                <label for="cardNumber" hidden></label>
                <input type="text" class="form-control" name="cardNumber" placeholder="Card Number" required>
                <div class="invalid-feedback">Please, provide a Card Number</div>
            </div>
            
            <div>
                <label for="cardOwner" hidden></label>
                <input type="text" class="form-control" name="cardOwner" placeholder="Card Owner" required>
                <div class="invalid-feedback">Please, provide the Name of the Card Owner</div>
            </div>
        </form>

        <!-- Items to purchase -->
        <div class="mt-5">
            <h2>Items</h2>
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">Qty</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each user.shoppingCart}}
                    <tr>
                        <td>{{this.qty}}</td>
                        <td>{{this.title}}</td>
                        <td>{{formatPrice this.total}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <div class="mt-4 row">
                <label for="staticSubtotal" class="col-sm-2 col-form-label">Subtotal: </label>
                <div class="col-sm-10">
                    <input type="text" readonly disabled class="form-control-plaintext" id="staticSubtotal" value="{{formatPrice (getSubtotal)}}">
                </div>

                <label for="staticTax" class="col-sm-2 col-form-label">Tax: </label>
                <div class="col-sm-10">
                    <input type="text" readonly disabled class="form-control-plaintext" id="staticTax" value="{{formatPrice (getTax)}}">
                </div>

                <label for="staticTotal" class="col-sm-2 col-form-label">Total: </label>
                <div class="col-sm-10">
                    <input type="text" readonly disabled class="form-control-plaintext" id="staticTotal" value="{{formatPrice (getTotal)}}">
                </div>
            </div>
            
            <!-- Purchase button -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="mt-2 btn btn-primary" role="button" onclick="purchase_clicked(event)">Checkout</button>
            </div>
        </div>

        {{else}}
        <div class="mt-5">
            <h2>No items in shopping cart</h2>
        </div>
        {{/if}}
    </div>
</main>

{{> footer}}

<script>
    function purchase_clicked (event) {
        event.preventDefault();
        var form = document.getElementById('purchase-form');
        form.classList.add('was-validated');

        if (form.checkValidity()) {

        }
    }
</script>